.original{
    font-size: 20px;
    padding:3px;
    font-weight: bold;
    display: flex;
    justify-content:center;
}
.summary{
    font-size: 20px;
    padding:3px;
    font-weight: bold;
    display: flex;
    justify-content:center;
}

.srt{
    display:flex;
    flex-direction: row;
}
.originalTxt{
    padding:10px;
    margin:auto;
}
.summaryTxt{
    padding:10px;
    /* margin:auto; */
}
.heading{
    font-weight: bold;
    display:flex;
    justify-content: center;
}
.submitBtn{
    margin-top:10px;
}